@model Market.LojaVirtual.Dominio.Entidades.Produto

<div class="well-lg">

    <H3><strong>@Model.Nome</strong></H3>
    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
    <h2><span class="lead">@Model.Descricao</span></h2>
</div>